extends layout

block content  
  
  div(style="margin-left : 45px;")
    h1 Acerca de Nosotros
    div(style="margin-left : 55px; margin-right : 55px;")
      p.
        GRUPO JAD. Somos amantes de la tecnología, motivados por el auto aprendizaje en busca de alcanzar desarrollo de sistemas de alta calidad, capaces de competir en el entorno laboral en busca de alcanzar un puesto clave en el mercado de desarollo de sistemas informaticos con vision nacional e internacional.
      p.
        El desarrollo de Sistemas Tecnológicos es una ciencia que permanece en constante evolución, es por tal motivo que uno de nuestros principales objetivos es la actualización constante para permanecer a la vanguardia de su industria. En el Grupo de desarrollo JAD puede encontrar una combinación correcta de excelencia técnica, diseño sobresaliente, estrategia efectiva y los resultados son bastante impresionantes. Utilizamos la educación técnica e intelectual continua para mejorar cada proyecto que se nos presenta, lo que coloca a nuestros clientes en el mundo de la tecnología con clase. 
      p.
        Nuestro conocimiento y experiencia en software y soluciones web han impulsado creciendo exponencialmente, asi como la satisfaccion de nuestros clientes. Contamos con un equipo dedicado para brindar productos de calidad a nuestros clientes.
      br
    center
      img(src= "https://www.blog.andaluciaesdigital.es/wp-content/uploads/2016/10/programar_BLOG.jpg" height="350px" width="750px")
    p.lead(style="margin-left : 45px;")
        a.btn.btn-lg.btn-secondary(href='/') Volver

