doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Aprendiendo NodeJS
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') GEEK BLOG
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          
          li.nav-item
            a.nav-link(href='/about') About US
          li.nav-item
            a.nav-link(href='/contact') Contact
        ul(class="nav navbar-nav navbar-right")
          if (1 != null)
            li.nav-item
              a.btn.btn-secondary.btn-sm(type="button" height="5px" href='/create') New POST
          //- else
          //-   script.
          //-     alert("hola")
          li.nav-item
            a.nav-link.disabled(href='/register') Register
          li.nav-item
            a.nav-link.disabled(href='/login') Login

    main(role='main')
      br
      br
      br
      block content
      br
      br
      br
      // /container
    footer
      nav.navbar.fixed-bottom.navbar-expand-sm.navbar-dark(style="background-color:#666666;")    
        div.collapse.navbar-collapse(id="navbarCollapse" ).
          Devsu 2018 &nbsp; &nbsp; - &nbsp; &nbsp; Desarrollado por Johnny Villacís

