doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Aprendiendo NodeJS
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') GEEK BLOG
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          
          li.nav-item
            a.nav-link(href='/about') About US
          li.nav-item
            a.nav-link(href='/contact') Contact
        ul(class="nav navbar-nav navbar-right")
          li.nav-item
            button.btn.btn-secondary.btn-sm(type="button" height="5px")
              a.nav-link.active(href='/create') New POST
          li.nav-item
            a.nav-link.disabled(href='/register') Register
          li.nav-item
            a.nav-link.disabled(href='/login') Login
          
    main(role='main')
      br
      br
      br
      block content
      br
      br
      brlink#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css', rel='stylesheet')
          script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
          script(src='//code.jquery.com/jquery-1.11.1.min.js')
          // ---- Include the above in your HEAD tag --------
        .col-md-10.clear
          hr
          h3 Escriba su Comentario
        .col-md-10
          .container-fluid.well.span8
            .panel.panel-default
              .panel-body
                form(accept-charset='UTF-8', action='/new_coment', method='POST')
                  textarea.form-control.counted(name='message', placeholder='Digite un mensaje', rows='5', style='margin-bottom:10px;')
                  h6#counter.pull-right 100 characters remaining
                  button.btn.btn-info(type='submit') Comentar
        .row.clear
          hr
          .col-md-2.col-md-offset-1
            img.img-circle(src='https://i.pinimg.com/originals/0c/bd/08/0cbd085828e2fe9074ac082ff201b4fc.jpg' height="50px" width="50px")
          .col-md-8
            h3 Nombre de usuario
            |             Que buena noticia :)
      br
      br
      br
      br





      // /container
    footer
      nav.navbar.fixed-bottom.navbar-expand-sm.navbar-dark(style="background-color:#666666;")    
        div.collapse.navbar-collapse(id="navbarCollapse" ).
          Devsu 2018 &nbsp; &nbsp; - &nbsp; &nbsp; Desarrollado por Johnny Villacís

