extends layout2

block content  
  
  div(style="margin-left : 45px;")
    h1 Galaxy Watch, más que un reloj inteligente
    h6 agosto 24, 2018
    center
      img(src= "https://easysmartech.com/wp-content/uploads/2018/07/Galacy-Watch-portada.jpg" height="350px" width="750px")
    div(style="margin-left : 55px; margin-right : 55px;")

      p.
        Samsung Electronics México anuncia la llegada del nuevo Galaxy Watch a México, el cual estará disponible a partir del mes de octubre.
      p.
        El nuevo Galaxy Watch cuenta con una batería de larga duración, nuevas funciones para ofrecer información al usuario a través del monitoreo del estrés y el sueño, así como una línea más amplia en estilos y diseño que incluye nuevos colores en Silver y Rose Gold, además de correas personalizables.
      p.
        “En Samsung hemos construido una larga historia ofreciendo productos innovadores, y queremos continuar con el legado de la compañía con la renovación de los wearables de la línea Galaxy”, afirmó Claudia Contreras, Directora Senior de Marketing en Samsung Electronics México. “Escuchamos a nuestros usuarios y queremos satisfacer sus necesidades manteniéndolos conectados, al tiempo que alcanzan objetivos de salud y bienestar, controlan dispositivos y aumentan su productividad -desde la muñeca de la mano, con el nuevo Galaxy Watch”.
      p.
        Batería con mayor duración
        La duración de la batería de Galaxy Watch es de más de 80[1] horas, lo que elimina la necesidad de cargarlo diariamente. El día del usuario ahora puede comenzar y finalizar con sesiones informativas para mantenerse al tanto con recordatorios, información del clima y cronogramas actualizados.
      p.
        Una vida equilibrada y organizada
        Pensado para cuidar el bienestar del usuario, Galaxy Watch brinda una verdadera experiencia holística de salud con una nueva función de seguimiento y control del estrés[2] para detectar automáticamente diferentes niveles, además de ofrecer ejercicios de respiración que ayudan a mantener el equilibrio y la concentración.
      p.
        Galaxy Watch permite además realizar un seguimiento avanzado del sueño  monitoreando todos los niveles, incluyendo los ciclos MOR, para ayudar a los usuarios con el ajuste de hábitos, y así obtener el descanso que requieren para su día a día.Con el sueño y el estrés bajo control, Galaxy Watch también contribuye a que el usuario pueda alcanzar otros objetivos de salud y bienestar, incluida su capacidad física. Galaxy Watch agregó 21 nuevos ejercicios y un total de 39 entrenamientos que se pueden personalizar para crear rutinas.
      p.
        Nada lo detiene

        Para el nuevo Galaxy Watch no existen límites, ya que es resistente al agua (hasta 50 metros de profundidad) para realizar cualquier tipo de actividad acuática. Además, cuenta con un sistema de drenaje de agua que funciona a partir de sonidos multifrecuencia y vibraciones.
      p.
        Diseño elegante y exclusivo

        Galaxy brinda más opciones de tamaño y estilo con una versión de 46 mm en color Silver y versión de 42 mm de color Rose Gold que pueden personalizarse aún más con una selección de fondos y correas que incluyen diversas opciones de estilo.
      br
    
    p.lead(style="margin-left : 45px;")
        a.btn.btn-lg.btn-secondary(href='/') Volver

