extends layout2

block content  
  
  div(style="margin-left : 45px;")
    h1 Asi es como se fabrica el huawei P20
    h6 agosto 21, 2018
    center
      img(src= "https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/phones/p20-pro-update1/img/kv/kv-mobile-original.jpg" height="350px" width="550px")
    div(style="margin-left : 55px; margin-right : 55px;")

      p.
        La línea de fabricación de la serie Huawei P20 se lleva a cabo en las instalaciones que la empresa tiene en Songshan Lake donde hacen el equipo desde la materia prima hasta el producto terminado.
      p.
        Esta instalación cuenta con más de 20 mil empleados y está ubicada en la zona de desarrollo de la industria de alta tecnología del lago Songshan, ciudad de Dongguan, parte de la provincia de Guangdong, anteriormente, esta línea de fabricación se encargaba de la producción de la serie Huawei P10.
      p.
        Esta línea de producción integra sistemas de monitoreo en tiempo real, con el fin de anticipar riesgos de rendimiento y calidad, producción y eficiencia, garantizando la calidad de los productos terminados.
      p.
        De acuerdoc on la compañía,  “el proceso de fabricación de Huawei se basa en los principios de producción ligera con un enfoque en los detalles con un espíritu artesanal. Esto se lleva a cabo mediante el uso de robots y automatización en cada proceso, que se complementan con ingenieros altamente capacitados”.
      p.
        La fabricación de la serie Huawei P20 involucra a robots, máquinas automáticas e ingenieros, que llevan a cabo procesos FAT (Montaje y Pruebas Finales), así como también de empaque y distribución.
      p.
        Hacer una sola unidad de la serie Huawei  P20 tarda al menos dos días.
        Los componentes y unidades se transportan a través de la línea de fabricación mediante robots automatizados equipados con sensores que les permiten navegar sin una guía.El primer paso del proceso de fabricación de un Huawei P20 es la creación de las tarjetas madre, que se producen en parejas conjuntas para luego ser cortadas y usadas en dos unidades diferentes.
      p.
        La fuente asegura que “los circuitos de esta placa base también son ensamblados por robots, que toman los componentes más pequeños de un rollo delgado, imprimiendo primero un lado de la placa base, para luego repetir el mismo proceso para imprimir el otro lado, todo pasando por pruebas en tres HUTP (Plataforma de Prueba Unida Huawei ) de diferentes máquinas”.Durante este proceso, los códigos de barra de las tarjeta madre se imprimen en la placa base para proporcionar una identificación única y también se integra el chipset Kirin 970.
      p.
        Cuando la placa base se ha completado y probado, junto con el sistema de la cámara, se integra en el panel posterior.
        Luego, cada unidad pasa por otro proceso de prueba para verificar la temperatura, la pantalla y la cámara. Después de que se haya aprobado, se carga el software del sistema operativo y se prueban todas las funciones.
      p.
        Para terminar, se agregan los códigos de serie y los números de IMEI, para luego ser empacados y enviados para su distribución.
        <p>La <strong>línea </strong>de <strong>fabricación </strong>de <strong>Songshan Lake</strong>, cuenta con un seguro de calidad que funciona con un estándar de cero defectos en el que no se aprueban unidades sin pasar por delante una serie de pruebas distribuidas en diferentes etapas de la línea de producción.</p>
        <p>En caso de que haya algún problema en uno de los pasos, existe un equipo reactivo y un equipo que lo resuelve, sin permitir que las unidades defectuosas continúen con su camino.</p>
        <p>Según información de la fuente, los trabajadores de la instalación tienen turnos de ocho horas con <strong>descansos obligatorios </strong>de 10 minutos cada dos horas, y una hora y media exclusiva para el almuerzo.</p>
        <p>Adicionalmente cuentan con áreas de recreación para la relajación de los trabajadores.</p>
        <p>Se reporta que la tasa de abandono o renuncia en la instalación de <strong>Songshan Lake </strong>está por debajo del 5%, que es mucho más pequeña que las instalaciones de fabricación circundantes en el área.</p>
        <p>Se alienta a los trabajadores a expresar sus opiniones y preocupaciones, así como a sugerir cambios en el proceso de fabricación.<br />
    
    p.lead(style="margin-left : 45px;")
        a.btn.btn-lg.btn-secondary(href='/') Volver

