extends layout2

block content  
  
  div(style="margin-left : 45px;")
    h1 Así es el nuevo Samsung Galaxy Note 9
    h6 agosto 26, 2018
    center
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rjaL94yEJME?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    div(style="margin-left : 55px; margin-right : 55px;")

      p.
        El grupo surcoreano Samsung Electronics ha lanzado al mercado en España su nuevo teléfono Galaxy Note 9. En total, el nuevo dispositivo llega a 56 países, entre ellos Estados Unidos, China y toda Europa. La cifra se irá ampliando hasta 130 en los próximos meses, con un modelo que cuenta con la principal novedad de su lápiz digital y una pantalla de gran tamaño.
      p.
        Cada vez es más difícil no ser más de lo mismo en la industria del móvil, con respecto a los rivales y al propio árbol genealógico. Cada vez, además, se paga más caro por parte de un público tan fan como exigente, que no duda en ver lo "familiar" de un smartphone con respecto a otro ya desde su presentación, y los Note lo tienen especialmente difícil al venir a mitad de año tras los Galaxy S, por eso en este análisis del Samsung Galaxy Note 9 vemos si el terminal del S Pen es diferencial más allá del característico puntero.
      p.
        Un S Pen que cual caballo de Troya lleva gran parte de las novedades de este Note con respecto al anterior, y que por ello es aún una parte más importante de la esencia de esta estirpe de Samsung. Esto y el resto de añadidos luchan con un fuerte componente conservador a nivel de diseño y de componentes, con el objetivo de que en conjunto sea el terminal ideal para un usuario que exija tanto a nivel de versatilidad como de rendimiento. Veamos si el Note 9, el Note del gaming, cumple expectativas.
      p.
        Diseño: que la moda sea el estilo propio

        La convergencia de las dos líneas de buques insignia de Samsung parece incrementarse inevitablemente cada vez más en cada iteración, de manera que el terminal del S Pen ha adoptado el estilo de los Galaxy S manteniendo siempre una diagonal mayor de pantalla, las dimensiones necesarias para albergar la pantalla y el puntero y un chasis menos redondeado. En este caso tenemos un Note 9 con una estética muy similar a la del Samsung Galaxy Note 8, con esquinas más angulosas que los Galaxy S9 pero con un frontal que es una de las señas de identidad de la casa desde los Galaxy S8.
    
    p.lead(style="margin-left : 45px;")
        a.btn.btn-lg.btn-secondary(href='/') Volver

