extends layout2

block content  
  
  div(style="margin-left : 45px;")
    h1 Android Pie, todo lo que tendrá el nuevo OS de Google
    h6 agosto 21, 2018
    center
      img(src= "http://imagenes.milenio.com/DUptuOWrBE8Z9LGMD2jfJg-8-34=/958x596/http://www.milenio.com/uploads/media/2018/08/06/android-pie-llegara-proximas-semanas.jpg" height="350px" width="750px")
    div(style="margin-left : 55px; margin-right : 55px;")

      p.
        Por fin conocemos el nombre del nuevo sistema operativo de Android. Fiel a su tradición de nombrar el sistema según un postre y en orden alfabético, el nuevo OS es el Android Pie.
      p.
        Este sistema, que llegará en los próximos meses a los teléfonos Android impulsa el desarrollo y la integración de la inteligencia artificial para hacerte más fácil usar tu teléfono, cuida el estado de la batería y hasta te dará un reporte del tiempo que pasas usando el dispositivo.
      p.
        A continuación, te decimos todas las novedades que tendrá el Android Pie y si tu teléfono será compatible.    
      p.
        Batería adaptable Gracias a la inteligencia artificial, la batería de tu celular podrá identificar patrones de uso para priorizar la energía sólo en las aplicaciones y servicios que te interesan. Además, el brillo de la pantalla se ajustará automáticamente según la iluminación de tu entorno.
      p.
        Apps a la mano Android Pie tendrá dos funciones integradas con IA para facilitarte la vida. Una es App Actions, que le permitirá a tu teléfono predecir lo que estás a punto de hacer para mostrarte varias opciones disponibles. Por ejemplo, si conectas tus audífonos, te sugerirá la playlist de reproducción más reciente.
      p.
        Rediseño de interfaz Ahora con sólo presionar el botón de inicio una vez, podrás ver las aplicaciones que has usado recientemente. También, Android Pie facilita la selección inteligente de texto que reconoce el significado del texto que está escribiendo y sugiere acciones relevantes.
      p.
        Se preocupa por tu bienestar digital  Android Pie te permite saber el tiempo que pasas en tu teléfono, cuánto usas las apps, las veces que lo desbloqueaste y la cantidad de notificaciones que recibiste. Con App Timer podrás establecer límites de tiempo que te avisarán cuando estés por cumplirlo y al llegar el momento, te sacará de la aplicación.
      p.
        Con Wind Down el teléfono cambiará las tonalidades de la luz de pantalla para no afectar tu ciclo circadiano y activará, a cierta hora, el modo No Molestar con lo que reducirá la luminosidad de la pantalla en escala de grises a la hora que elijas para ayudarte a dormir.  Los teléfonos que primero recibirán la actualización del Android Pie son los Pixel de Google, así como todos los que están integrados con Android One. Posteriormente llegará a teléfonos como el Samsung S9, S8, A8 y A6; Huawei P20, Mate 10 y P10; Motorola Z3, Z3 Force, Moto G6, G5 y X4; y LG G7 ThinQ, V30 y G6.
      br
    
    p.lead(style="margin-left : 45px;")
        a.btn.btn-lg.btn-secondary(href='/') Volver

