extends layout

block content
    .container

        form(method='post', action='/new_user')
            h1 
            .form-group
                label Nombre
                input.form-control(type='text', name='name', placeholder='Ingrese su Nombre')
            .form-group
                label Apellido
                input.form-control(type='text', name='lastname', placeholder='Ingrese su Apellido')
            .form-group
                label User
                textarea.form-control(type='text', name='user', placeholder='Ingrese su Usuario...' )
            .form-group
                label Email
                input.form-control(type='email', name='email', placeholder='Ingrese su Email')
            .form-group
                label Password
                input.form-control(type='password', name='password', placeholder='Ingrese su Password')
            
            button.btn.btn-primary(type='submit') Registrar